h2{text-align: center;
   font-size:40px;
   margin-top: 120px;}
figure{text-align: center;}
figure1,figure2,figure3,figure4,figure5,figure6{
  display:inline-block;
       width: 200px;
       padding: 10px;
       margin-top: 30px;
     }
figcaption{font-size:20px;
           margin-top: 20px;
           color: #366643;}
a{margin: 20px;
  font-size:18px;
  color: #FF9C07;}
body{background-color: #43A65F;
     background-image: url("../images/배경2.jpg");
     background-repeat: no-repeat;
     background-size: cover;}
