body{background-image:url("image/배경1.jpg");
     background-repeat: no-repeat;
     background-size: cover;}
h1,h4{text-align: center;}
h1{margin:180px 0px auto;
   font-size:100px;}
.부제{font-size:26px;
     font-weight:350;
     margin-top: 0px;
     margin-bottom: 30px;}
h1,h4,a{color: #FF9C07;}
nav{text-align: center;}
.카테고리{
  display: inline-block;
  width:300px;
  margin-top: 150px;
  font-size: 18px;
  font-weight: 150px;
}
